<div class="container my-3 text-center">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image_url %>)">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-danger btn-lg btn-block my-3' %>
</div>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("rntkfppnlassuisfloub",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("yurd8jp94nalkhxmvnez",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
